# [Build Tools]
.gradle
build/
bin/
out/

# [IDE]
.idea/
*.iml
*.iws
*.ipr
.vscode/
.classpath
.project
.settings/
.nb-gradle/

# [OS]
.DS_Store
Thumbs.db

# [Exception] - 공통 파일 먼저 등록
!**/src/main/**
!**/src/test/**
!build.gradle
!settings.gradle
!gradlew
!gradlew.bat
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# [Secrets] - 마지막에 선언해서 예외 규칙보다 우선순위를 갖게 함
.env
*secret*
application-api.yml
application-local.yml
application-api.properties
application-local.properties